.Rproj.user
.Rhistory
.RData
.Ruserdata

node_modules/
hyperfy_lens/node_modules/
build/
.DS_Store
*.blend1
.Rproj.user


.space

python_api/mlflow-291816-333a8dfdc1e7.json
mlflow-291816-333a8dfdc1e7.json
Spacefile
python_api/Spacefile